<div class="row">
	<div class="col-xl-5">
		<mat-card clas="display-1" >
				<mat-card-header>
					<mat-card-title>orders</mat-card-title>
				</mat-card-header> 
				<mat-card-content>
						<h1>{{data?.requests}}</h1>
				</mat-card-content>
		</mat-card>
	</div>
	<div class="col-xl-5">
		<mat-card> 

				<mat-card-header>
						<mat-card-title>users</mat-card-title>
					  </mat-card-header>
					  <mat-card-content>
							  <h1>{{data?.users}}</h1>
					  </mat-card-content>	  
		</mat-card>
	</div>
	<div class="col-xl-12">
		<br>
	</div>
	<div class="col-xl-5">
		<!-- <mat-card>markets:{{data?.markets}}</mat-card> -->

		<mat-card class="example-card">
				<mat-card-header>
				  <mat-card-title>markets</mat-card-title>
				</mat-card-header>
				<mat-card-content>
						<h1>{{data?.markets}}</h1>
				</mat-card-content>
			  </mat-card>
	</div>
</div>

