<div class="row">
	<div class="col-xl-4">
		<mat-card clas="display-1" >
				<mat-card-header>
					orders
				</mat-card-header> 
				<mat-card-content>
					 {{data.requests }}
				</mat-card-content>
		</mat-card>
	</div>
	<div class="col-xl-4">
		<mat-card> users:{{data?.users}}</mat-card>
	</div>
	<div class="col-xl-4">
		<!-- <mat-card>markets:{{data?.markets}}</mat-card> -->

		<mat-card class="example-card">
				<mat-card-header>
				  <mat-card-title>markets</mat-card-title>
				</mat-card-header>
				<mat-card-content>
						<mat-grid-list cols="3" rowHeight="2:1">
								<mat-grid-tile></mat-grid-tile>
								<mat-grid-tile></mat-grid-tile>
								<mat-grid-tile></mat-grid-tile>
								<mat-grid-tile></mat-grid-tile>
								<mat-grid-tile>
										<h1>{{data?.markets}}</h1>
								</mat-grid-tile>
								<mat-grid-tile></mat-grid-tile>
								<mat-grid-tile></mat-grid-tile>
								<mat-grid-tile></mat-grid-tile>
								<mat-grid-tile></mat-grid-tile>
							  </mat-grid-list>
				</mat-card-content>
			  </mat-card>
	</div>
</div>

